<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <h1>Basketball Team Signup</h1>
 <form  method="POST" action="/team"> 
  <p>Team name: <input type="text" name="name"></p>
  <p>Coach: <input type="text" coach="coach"></p>
  <p>Point Guard: <input type="text" pg="pg"></p>
  <p>Shooting Guard: <input type="text" sg="sg"></p>
  <p>Power Forward: <input type="text" pf="pf"></p>
  <p>Small Forward: <input type="text" sf="sf"></p>
  <p>Center: <input type="text" c="c"></p>
  <input type="submit" id="Submit">
 </form>
 </body>
</html>


